* {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    padding: 10px;
  }
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 90, 90);
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 30px;
}

.headtext {
  color: white;
  font-size: 1.2rem;
  margin: 0;
  font-weight: 500;
}

img {
  width: 30px;
  margin-right: 10px;
}

article {
  display: flex;
  justify-content: left;
  align-items: top;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.japan {
  width: 100px;
  height: 168;
  top: 100px;
  left: 40px;
  border-radius: 5px;
}

.marker {
  margin-left: 8px;
  margin-right: 5px;
  width: 13px;
  height: 13px;
  top: 120px;
  left: 184px;
}
.location {
  font: Inter;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 17%;
  margin-right: 8px;
}

a {
  color: #918e9b;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}

.text {
  display: flex;
  align-self: flex-start;
  margin-top: 2px;
}

.location_name {
  width: 326;
  height: 30;
  top: 136px;
  left: 184px;
  font-family: Inter;
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 18px;
}

.date {
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 8px;
  margin-bottom: 5px;
}

.info {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #2b283a;
  text-align: left;
  margin-left: 8px;
}

.mn {
  display: flex;
  flex-direction: column;
}
